html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#container {
    border: solid black 1px;
    background-color: black;;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    display: flex;
    border: solid black 1px;
    margin: 0;
}

.square {
    border: solid black 1px;
    margin: 0;
    background-color: white;
}